<a href="https://colab.research.google.com/github/elvingeorgee/Autoboxing/blob/main/DataMunging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd; pd.set_option('display.max_columns', None)
import json
from nba_api.stats.endpoints import playerdashboardbyyearoveryear
from nba_api.stats.endpoints import playergamelogs
import matplotlib.pyplot as plt
import seaborn as sns
import urllib.request
from scipy import ndimage
import warnings
warnings.filterwarnings('ignore')

AttributeError: ignored

In [ ]:
%pip install nba_api

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nba_api in /usr/local/lib/python3.8/dist-packages (1.1.14)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from nba_api) (2.25.1)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /usr/local/lib/python3.8/dist-packages (from nba_api) (1.24.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->nba_api) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->nba_api) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->nba_api) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->nba_api) (1.24.3)

In [ ]:
from nba_api.stats import endpoints

data = endpoints.leagueleaders.LeagueLeaders(season = '2021-22').league_leaders.get_data_frame()

type(data)

pandas.core.frame.DataFrame

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
data.head(10)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,1629027,1,Trae Young,1610612737,ATL,76,2652,711,1544,0.460,233,610,0.382,500,553,0.904,50,234,284,737,72,7,303,128,2155,2066,2.43,0.24
1,201942,2,DeMar DeRozan,1610612741,CHI,76,2743,774,1535,0.504,50,142,0.352,520,593,0.877,56,336,392,374,68,24,181,178,2118,1961,2.07,0.38
2,203954,3,Joel Embiid,1610612755,PHI,68,2296,666,1334,0.499,93,251,0.371,654,803,0.814,146,650,796,284,77,99,214,181,2079,2304,1.33,0.36
3,1628369,4,Jayson Tatum,1610612738,BOS,76,2731,708,1564,0.453,230,651,0.353,400,469,0.853,85,524,609,334,75,49,217,174,2046,1971,1.54,0.35
4,203999,5,Nikola Jokic,1610612743,DEN,74,2476,764,1311,0.583,97,288,0.337,379,468,0.810,206,813,1019,584,109,63,281,191,2004,2862,2.08,0.39
5,203507,6,Giannis Antetokounmpo,1610612749,MIL,67,2204,689,1245,0.553,71,242,0.293,553,766,0.722,134,644,778,388,72,91,219,212,2002,2343,1.77,0.33
6,1629029,7,Luka Doncic,1610612742,DAL,65,2301,641,1403,0.457,201,569,0.353,364,489,0.744,56,537,593,568,75,36,292,145,1847,1940,1.95,0.26
7,1626164,8,Devin Booker,1610612756,PHX,68,2345,662,1421,0.466,183,478,0.383,315,363,0.868,45,297,342,329,77,26,162,180,1822,1627,2.03,0.47
8,1626157,9,Karl-Anthony Towns,1610612750,MIN,74,2475,642,1214,0.529,150,366,0.410,384,467,0.822,194,533,727,269,72,83,226,267,1818,2088,1.19,0.32
9,1628378,10,Donovan Mitchell,1610612762,UTA,67,2266,617,1376,0.448,232,654,0.355,267,313,0.853,55,227,282,358,99,12,200,164,1733,1479,1.79,0.49

In [ ]:
data.loc[:, :'EFF']

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF
0,1629027,1,Trae Young,1610612737,ATL,76,2652,711,1544,0.460,233,610,0.382,500,553,0.904,50,234,284,737,72,7,303,128,2155,2066
1,201942,2,DeMar DeRozan,1610612741,CHI,76,2743,774,1535,0.504,50,142,0.352,520,593,0.877,56,336,392,374,68,24,181,178,2118,1961
2,203954,3,Joel Embiid,1610612755,PHI,68,2296,666,1334,0.499,93,251,0.371,654,803,0.814,146,650,796,284,77,99,214,181,2079,2304
3,1628369,4,Jayson Tatum,1610612738,BOS,76,2731,708,1564,0.453,230,651,0.353,400,469,0.853,85,524,609,334,75,49,217,174,2046,1971
4,203999,5,Nikola Jokic,1610612743,DEN,74,2476,764,1311,0.583,97,288,0.337,379,468,0.810,206,813,1019,584,109,63,281,191,2004,2862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,1630207,582,Nate Hinton,1610612754,IND,2,2,0,1,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,1,0,0,-2
601,1626155,582,Sam Dekker,1610612761,TOR,1,1,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0
602,1629309,582,Trayvon Palmer,1610612765,DET,1,17,0,1,0.000,0,0,0.000,0,0,0.000,0,2,2,0,0,0,1,2,0,0
603,1629788,582,Tyler Hall,1610612752,NYK,1,2,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0
604,1629597,582,Zylan Cheatham,1610612762,UTA,1,5,0,3,0.000,0,2,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,-3

In [ ]:
df_eff = data.loc[:,:'EFF']

In [ ]:
df_eff.head()

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF
0,1629027,1,Trae Young,1610612737,ATL,76,2652,711,1544,0.460,233,610,0.382,500,553,0.904,50,234,284,737,72,7,303,128,2155,2066
1,201942,2,DeMar DeRozan,1610612741,CHI,76,2743,774,1535,0.504,50,142,0.352,520,593,0.877,56,336,392,374,68,24,181,178,2118,1961
2,203954,3,Joel Embiid,1610612755,PHI,68,2296,666,1334,0.499,93,251,0.371,654,803,0.814,146,650,796,284,77,99,214,181,2079,2304
3,1628369,4,Jayson Tatum,1610612738,BOS,76,2731,708,1564,0.453,230,651,0.353,400,469,0.853,85,524,609,334,75,49,217,174,2046,1971
4,203999,5,Nikola Jokic,1610612743,DEN,74,2476,764,1311,0.583,97,288,0.337,379,468,0.810,206,813,1019,584,109,63,281,191,2004,2862

In [ ]:
data.columns

Index(['PLAYER_ID', 'RANK', 'PLAYER', 'TEAM_ID', 'TEAM', 'GP', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'EFF',
       'AST_TOV', 'STL_TOV'],
      dtype='object')

In [ ]:
', '.join(data.columns)

'PLAYER_ID, RANK, PLAYER, TEAM_ID, TEAM, GP, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, EFF, AST_TOV, STL_TOV'

In [ ]:
data.loc[0,:].head()

PLAYER_ID       1629027
RANK                  1
PLAYER       Trae Young
TEAM_ID      1610612737
TEAM                ATL
Name: 0, dtype: object

In [ ]:
data['TEAM'].unique()

array(['ATL', 'CHI', 'PHI', 'BOS', 'DEN', 'MIL', 'DAL', 'PHX', 'MIN',
       'UTA', 'LAL', 'BKN', 'GSW', 'CHA', 'MEM', 'TOR', 'CLE', 'NYK',
       'SAS', 'OKC', 'NOP', 'SAC', 'MIA', 'DET', 'IND', 'LAC', 'HOU',
       'ORL', 'WAS', 'POR'], dtype=object)

In [ ]:
tor_df = data.loc[data['TEAM']== 'TOR']
tor_df.head()

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
17,1627783,18,Pascal Siakam,1610612761,TOR,68,2578,596,1207,0.494,75,218,0.344,284,379,0.749,128,452,580,360,85,42,181,225,1551,1731,1.99,0.47
35,1627832,36,Fred VanVleet,1610612761,TOR,65,2462,442,1097,0.403,242,642,0.377,194,222,0.874,44,245,289,434,111,35,170,162,1320,1336,2.55,0.65
40,1629018,41,Gary Trent Jr.,1610612761,TOR,70,2448,450,1086,0.414,209,545,0.383,174,204,0.853,26,165,191,141,122,19,73,144,1283,1017,1.93,1.67
61,1630567,62,Scottie Barnes,1610612761,TOR,74,2617,459,932,0.492,58,193,0.301,158,215,0.735,195,362,557,256,80,55,136,192,1134,1416,1.88,0.59
119,1628384,119,O.G. Anunoby,1610612761,TOR,48,1728,309,697,0.443,115,317,0.363,89,118,0.754,74,190,264,125,71,25,80,131,822,810,1.56,0.89

In [ ]:
tor_df.sort_values(by = 'EFF', ascending = False).head()

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
17,1627783,18,Pascal Siakam,1610612761,TOR,68,2578,596,1207,0.494,75,218,0.344,284,379,0.749,128,452,580,360,85,42,181,225,1551,1731,1.99,0.47
61,1630567,62,Scottie Barnes,1610612761,TOR,74,2617,459,932,0.492,58,193,0.301,158,215,0.735,195,362,557,256,80,55,136,192,1134,1416,1.88,0.59
35,1627832,36,Fred VanVleet,1610612761,TOR,65,2462,442,1097,0.403,242,642,0.377,194,222,0.874,44,245,289,434,111,35,170,162,1320,1336,2.55,0.65
40,1629018,41,Gary Trent Jr.,1610612761,TOR,70,2448,450,1086,0.414,209,545,0.383,174,204,0.853,26,165,191,141,122,19,73,144,1283,1017,1.93,1.67
132,1628449,133,Chris Boucher,1610612761,TOR,80,1690,268,577,0.464,68,229,0.297,150,193,0.777,179,315,494,25,49,75,42,174,754,1003,0.59,1.17

In [ ]:
tor_df.describe()

,PLAYER_ID,RANK,TEAM_ID,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
count,2.000000e+01,20.000000,2.000000e+01,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,1.486542e+06,306.150000,1.610613e+09,45.100000,1037.800000,173.750000,390.95000,0.400850,51.800000,150.050000,0.245900,67.150000,89.000000,0.655750,57.150000,136.300000,193.450000,95.000000,38.650000,19.500000,50.150000,84.600000,466.450000,523.850000,1.667500,0.997500
std,4.391226e+05,191.357553,0.000000e+00,26.542716,940.473934,186.518484,409.38368,0.166001,68.016716,180.807101,0.149959,81.497998,103.698449,0.258386,63.191668,136.227403,193.095961,121.605921,37.345154,20.818767,55.778958,71.298778,504.625601,534.403187,1.184585,0.927758
min,2.011520e+05,18.000000,1.610613e+09,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000
25%,1.628246e+06,129.500000,1.610613e+09,30.750000,228.000000,26.000000,54.00000,0.392000,0.750000,11.500000,0.187500,8.750000,9.750000,0.598750,8.500000,30.000000,51.250000,9.500000,8.000000,3.500000,6.500000,26.500000,68.250000,111.250000,1.070000,0.515000
50%,1.629042e+06,333.500000,1.610613e+09,53.000000,780.000000,94.000000,218.00000,0.426500,28.500000,84.500000,0.303500,25.000000,42.000000,0.740500,31.500000,84.500000,113.500000,59.000000,28.000000,13.500000,30.500000,71.000000,251.000000,273.500000,1.875000,0.850000
75%,1.630190e+06,451.750000,1.610613e+09,65.750000,1725.750000,278.250000,626.50000,0.486750,69.500000,220.750000,0.354750,104.250000,146.500000,0.813250,90.500000,203.750000,270.250000,109.250000,58.250000,28.250000,74.750000,145.750000,771.000000,867.250000,2.000000,1.072500
max,1.630625e+06,582.000000,1.610613e+09,80.000000,2617.000000,596.000000,1207.00000,0.733000,242.000000,642.000000,0.383000,284.000000,379.000000,1.000000,195.000000,452.000000,580.000000,434.000000,122.000000,75.000000,181.000000,225.000000,1551.000000,1731.000000,5.380000,4.000000

In [ ]:
tor_df['REB'].max()

580

In [ ]:
tor_df.describe().transpose().head()

,count,mean,std,min,25%,50%,75%,max
PLAYER_ID,20.0,1.486542e+06,439122.562221,2.011520e+05,1.628246e+06,1.629042e+06,1.630190e+06,1.630625e+06
RANK,20.0,3.061500e+02,191.357553,1.800000e+01,1.295000e+02,3.335000e+02,4.517500e+02,5.820000e+02
TEAM_ID,20.0,1.610613e+09,0.000000,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
GP,20.0,4.510000e+01,26.542716,1.000000e+00,3.075000e+01,5.300000e+01,6.575000e+01,8.000000e+01
MIN,20.0,1.037800e+03,940.473934,1.000000e+00,2.280000e+02,7.800000e+02,1.725750e+03,2.617000e+03

tor_df['GP'].value_counts()

In [ ]:
data['TEAM'].value_counts()

OKC    26
DET    25
POR    24
WAS    23
MEM    22
BOS    22
PHX    22
CLE    22
ORL    21
MIA    21
NYK    21
ATL    21
DAL    21
LAL    21
SAC    20
DEN    20
IND    20
TOR    20
UTA    20
CHI    20
MIL    19
PHI    19
SAS    18
NOP    18
MIN    17
CHA    17
BKN    17
LAC    16
HOU    16
GSW    16
Name: TEAM, dtype: int64

In [ ]:
data.groupby(['TEAM']).count()

,PLAYER_ID,RANK,PLAYER,TEAM_ID,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
TEAM,,,,,,,,,,,,,,,,,,,,,,,,,,,
ATL,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
BKN,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
BOS,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
CHA,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
CHI,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
CLE,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
DAL,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
DEN,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
DET,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
GSW,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
HOU,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
IND,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
LAC,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
LAL,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
MEM,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
MIA,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
MIL,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19
MIN,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
NOP,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
NYK,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
OKC,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26
ORL,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
PHI,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19
PHX,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
POR,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24
SAC,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
SAS,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
TOR,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
UTA,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
WAS,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23

In [ ]:
data.groupby('TEAM')['PTS'].sum().sort_values(ascending = False).head()

TEAM
CHA    9971
PHX    9823
DEN    9748
UTA    9736
SAC    9689
Name: PTS, dtype: int64

In [ ]:
data['TEAM'].value_counts()

OKC    26
DET    25
POR    24
WAS    23
MEM    22
BOS    22
PHX    22
CLE    22
ORL    21
MIA    21
NYK    21
ATL    21
DAL    21
LAL    21
SAC    20
DEN    20
IND    20
TOR    20
UTA    20
CHI    20
MIL    19
PHI    19
SAS    18
NOP    18
MIN    17
CHA    17
BKN    17
LAC    16
HOU    16
GSW    16
Name: TEAM, dtype: int64

In [ ]:
tor_df['PTSRANK'] = tor_df['PTS'].rank(ascending = False) 
tor_df['PTSRANK']

<ipython-input-46-7e8a879d8d90>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tor_df['PTSRANK'] = tor_df['PTS'].rank(ascending = False)

17      1.0
35      2.0
40      3.0
61      4.0
119     5.0
132     6.0
160     7.0
299     8.0
315     9.0
330    10.0
335    11.0
356    12.0
365    13.0
380    14.0
438    15.0
493    16.0
533    17.0
538    18.0
586    19.5
601    19.5
Name: PTSRANK, dtype: float64

In [ ]:
tor_df.loc[tor_df['GP'] > 20]

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV,PTSRANK
17,1627783,18,Pascal Siakam,1610612761,TOR,68,2578,596,1207,0.494,75,218,0.344,284,379,0.749,128,452,580,360,85,42,181,225,1551,1731,1.99,0.47,1.0
35,1627832,36,Fred VanVleet,1610612761,TOR,65,2462,442,1097,0.403,242,642,0.377,194,222,0.874,44,245,289,434,111,35,170,162,1320,1336,2.55,0.65,2.0
40,1629018,41,Gary Trent Jr.,1610612761,TOR,70,2448,450,1086,0.414,209,545,0.383,174,204,0.853,26,165,191,141,122,19,73,144,1283,1017,1.93,1.67,3.0
61,1630567,62,Scottie Barnes,1610612761,TOR,74,2617,459,932,0.492,58,193,0.301,158,215,0.735,195,362,557,256,80,55,136,192,1134,1416,1.88,0.59,4.0
119,1628384,119,O.G. Anunoby,1610612761,TOR,48,1728,309,697,0.443,115,317,0.363,89,118,0.754,74,190,264,125,71,25,80,131,822,810,1.56,0.89,5.0
132,1628449,133,Chris Boucher,1610612761,TOR,80,1690,268,577,0.464,68,229,0.297,150,193,0.777,179,315,494,25,49,75,42,174,754,1003,0.59,1.17,6.0
160,1630173,161,Precious Achiuwa,1610612761,TOR,73,1725,265,603,0.439,56,156,0.359,78,131,0.595,146,327,473,82,37,41,84,151,664,822,0.98,0.44,7.0
299,201152,300,Thaddeus Young,1610612761,TOR,52,845,141,272,0.518,17,48,0.354,23,49,0.469,80,128,208,104,54,18,52,81,322,497,2.00,1.04,8.0
315,1629717,316,Armoni Brooks,1610612761,TOR,54,844,98,289,0.339,74,249,0.297,18,21,0.857,20,83,103,62,28,11,27,74,288,271,2.30,1.04,9.0
330,1629004,331,Svi Mykhailiuk,1610612761,TOR,56,716,91,234,0.389,41,134,0.306,32,37,0.865,20,72,92,45,26,4,32,54,255,242,1.41,0.81,10.0
335,203920,336,Khem Birch,1610612761,TOR,55,991,97,200,0.485,0,14,0.000,53,71,0.746,122,117,239,56,30,26,29,104,247,448,1.93,1.03,11.0
356,1630625,357,Dalano Banton,1610612761,TOR,64,696,83,202,0.411,13,51,0.255,26,44,0.591,38,86,124,99,28,10,53,68,205,276,1.87,0.53,12.0
365,1630201,366,Malachi Flynn,1610612761,TOR,44,537,72,183,0.393,30,90,0.333,15,24,0.625,10,53,63,70,20,4,13,45,189,213,5.38,1.54,13.0
380,1629139,379,Yuta Watanabe,1610612761,TOR,38,445,56,138,0.406,27,79,0.342,24,40,0.600,18,74,92,21,11,16,19,38,163,186,1.10,0.58,14.0
438,1630551,438,Justin Champagnie,1610612761,TOR,36,281,31,67,0.463,10,28,0.357,9,9,1.000,37,35,72,11,8,4,8,32,81,132,1.38,1.00,15.0

In [ ]:
tor_df.loc[(tor_df['GP'] < 20) & (tor_df['PTSRANK'] > 10)]

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV,PTSRANK
493,1628391,493,D.J. Wilson,1610612761,TOR,4,54,11,15,0.733,0,2,0.00,8,10,0.800,1,15,16,5,5,1,2,6,30,49,2.5,2.5,16.0
533,1629067,534,Isaac Bonga,1610612761,TOR,15,69,3,13,0.231,1,4,0.25,5,8,0.625,4,3,7,4,8,2,2,10,12,18,2.0,4.0,17.0
538,1630187,539,Daniel Oturu,1610612761,TOR,3,27,3,6,0.500,0,1,0.00,3,5,0.600,1,4,5,0,0,2,0,1,9,11,0.0,0.0,18.0
586,1630525,582,David Johnson,1610612761,TOR,2,2,0,1,0.000,0,1,0.00,0,0,0.000,0,0,0,0,0,0,0,0,0,-1,0.0,0.0,19.5
601,1626155,582,Sam Dekker,1610612761,TOR,1,1,0,0,0.000,0,0,0.00,0,0,0.000,0,0,0,0,0,0,0,0,0,0,0.0,0.0,19.5

In [ ]:
team_eff = data.groupby('TEAM')['EFF'].apply(lambda group: group.nlargest(2).sum())
team_eff = team_eff.reset_index()
team_eff.sort_values('EFF',ascending= False).head()

   TEAM   EFF
7   DEN  4111
22  PHI  4086
16  MIL  3761
4   CHI  3657
0   ATL  3636

In [ ]:
data.groupby(['TEAM']).count()

,PLAYER_ID,RANK,PLAYER,TEAM_ID,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
TEAM,,,,,,,,,,,,,,,,,,,,,,,,,,,
ATL,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
BKN,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
BOS,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
CHA,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
CHI,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
CLE,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
DAL,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
DEN,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
DET,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
GSW,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
HOU,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
IND,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
LAC,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
LAL,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
MEM,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
MIA,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
MIL,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19
MIN,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
NOP,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
NYK,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
OKC,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26
ORL,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
PHI,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19
PHX,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
POR,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24
SAC,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
SAS,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
TOR,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
UTA,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
WAS,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23

In [ ]:
import json
response = endpoints.teamgamelogs.TeamGameLogs(season_nullable='2021-22')
content = json.loads(response.get_json())
results = content['resultSets'][0]
headers = results['headers']
rows = results['rowSet']
record = pd.DataFrame(rows, columns = headers)
record.head()

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,2021-22,1610612758,SAC,Sacramento Kings,0022101229,2022-04-10T00:00:00,SAC @ PHX,W,48.0,40,76,0.526,14,26,0.538,22,30,0.733,2,38,40,26,15.0,9,7,7,18,25,116,7.0,1,1,1,1,117,1247,2367,308,686,2234,37,405,266,1644,2447,499,1766,830,1475,592,323,1930,724,172,768,783
1,2021-22,1610612757,POR,Portland Trail Blazers,0022101230,2022-04-10T00:00:00,POR vs. UTA,L,48.0,31,83,0.373,9,34,0.265,9,12,0.750,5,27,32,21,16.0,11,8,6,27,16,80,-31.0,1,1231,1231,1231,117,2360,1815,2349,1924,1289,2109,2239,2256,1458,2239,2210,2390,1782,1716,240,171,1637,2354,1918,2447,2399
2,2021-22,1610612737,ATL,Atlanta Hawks,0022101221,2022-04-10T00:00:00,ATL @ HOU,W,48.0,45,87,0.517,21,38,0.553,19,24,0.792,13,37,50,29,13.0,4,4,4,19,19,130,16.0,1,1,1,1,117,440,1278,417,36,741,25,793,824,1106,481,637,436,405,949,2166,1206,831,960,1229,160,318
3,2021-22,1610612766,CHA,Charlotte Hornets,0022101217,2022-04-10T00:00:00,CHA vs. WAS,W,48.0,48,89,0.539,18,33,0.545,10,14,0.714,11,37,48,34,20.0,6,9,3,20,16,124,16.0,1,1,1,1,117,170,1003,212,141,1454,30,2144,2118,1765,875,637,642,79,2294,1551,91,419,1233,1918,328,318
4,2021-22,1610612765,DET,Detroit Pistons,0022101228,2022-04-10T00:00:00,DET @ PHI,L,48.0,38,83,0.458,11,34,0.324,19,29,0.655,15,27,42,26,20.0,4,4,6,16,23,106,-12.0,1,1231,1231,1231,117,1603,1815,1270,1427,1289,1545,793,330,2164,236,2210,1479,830,2294,2166,1206,1637,376,413,1531,1912

In [ ]:
record = record.groupby(['TEAM_ABBREVIATION'])['WL'].value_counts()
record = pd.DataFrame(record).rename(columns = {'WL': 'W'})
record.head()

                       W
TEAM_ABBREVIATION WL
ATL               W   43
                  L   39
BKN               W   44
                  L   38
BOS               W   51

In [ ]:
record = pd.pivot_table(record, values = 'W', index = 'TEAM_ABBREVIATION', columns = 'WL')

In [ ]:
team_eff = team_eff.merge(record, left_on = 'TEAM', right_on = 'TEAM_ABBREVIATION')
team_eff.head()

  TEAM   EFF   L   W
0  ATL  3636  39  43
1  BKN  2894  38  44
2  BOS  3357  31  51
3  CHA  3516  39  43
4  CHI  3657  36  46

In [ ]:
data.groupby('TEAM')['AST'].sum().sort_values(ascending = False).head()

TEAM
PHX    2374
DEN    2334
CHA    2310
GSW    2220
PHI    2158
Name: AST, dtype: int64

In [ ]:
atl_df['PTSRANK'] = atl_df['PTS'].rank(ascending = False)
atl_df

<ipython-input-58-40bb8e47f826>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  atl_df['PTSRANK'] = atl_df['PTS'].rank(ascending = False)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV,PTSRANK
0,1629027,1,Trae Young,1610612737,ATL,76,2652,711,1544,0.460,233,610,0.382,500,553,0.904,50,234,284,737,72,7,303,128,2155,2066,2.43,0.24,1.0
84,203992,85,Bogdan Bogdanovic,1610612737,ATL,63,1849,342,794,0.431,169,459,0.368,97,115,0.843,29,221,250,194,68,14,70,132,950,936,2.77,0.97,2.0
101,1628989,102,Kevin Huerter,1610612737,ATL,74,2188,345,760,0.454,160,411,0.389,42,52,0.808,32,222,254,203,55,26,91,185,892,914,2.23,0.60,3.0
105,1628381,106,John Collins,1610612737,ATL,54,1663,339,644,0.526,64,176,0.364,134,169,0.793,93,329,422,98,33,56,60,164,876,1085,1.63,0.55,4.0
120,203991,121,Clint Capela,1610612737,ATL,74,2042,370,604,0.613,0,1,0.000,80,169,0.473,279,598,877,92,55,93,44,166,820,1570,2.09,1.25,5.0
129,201568,130,Danilo Gallinari,1610612737,ATL,66,1672,259,597,0.434,112,294,0.381,141,156,0.904,35,273,308,101,28,12,38,93,771,829,2.66,0.74,6.0
142,1629631,142,De'Andre Hunter,1610612737,ATL,53,1577,254,575,0.442,74,195,0.379,127,166,0.765,26,150,176,68,36,21,69,155,709,581,0.99,0.52,7.0
264,1630168,265,Onyeka Okongwu,1610612737,ATL,48,992,156,226,0.690,0,0,0.000,80,110,0.727,115,168,283,53,31,60,44,149,392,675,1.21,0.70,8.0
279,101150,280,Lou Williams,1610612737,ATL,56,799,125,320,0.391,37,102,0.363,67,78,0.859,16,71,87,105,28,3,43,48,354,328,2.44,0.65,9.0
286,1626153,287,Delon Wright,1610612737,ATL,77,1453,122,269,0.454,44,116,0.379,54,63,0.857,50,170,220,188,93,19,45,56,342,661,4.18,2.07,10.0
343,1627789,344,Timothe Luwawu-Cabarrot,1610612737,ATL,52,685,74,186,0.398,44,122,0.361,35,41,0.854,17,65,82,40,18,6,20,76,227,235,2.00,0.90,11.0
387,203476,388,Gorgui Dieng,1610612737,ATL,44,371,53,112,0.473,29,68,0.426,19,26,0.731,32,89,121,34,11,13,20,52,154,247,1.70,0.55,12.0
428,1628995,429,Kevin Knox II,1610612737,ATL,30,222,31,85,0.365,15,54,0.278,16,22,0.727,14,30,44,10,4,2,7,19,93,86,1.43,0.57,13.0
440,1630219,440,Skylar Mays,1610612737,ATL,28,220,32,64,0.500,8,25,0.320,8,9,0.889,5,20,25,17,7,0,10,9,80,86,1.70,0.70,14.0
464,1630552,464,Jalen Johnson,1610612737,ATL,22,120,22,41,0.537,3,13,0.231,5,7,0.714,2,24,26,3,3,2,9,9,52,56,0.33,0.33,15.0
490,1630602,491,Chaundee Brown Jr.,1610612737,ATL,5,104,10,32,0.313,6,18,0.333,5,6,0.833,1,15,16,4,2,0,1,7,31,29,4.00,2.00,16.0
503,1628419,504,Cameron Oliver,1610612737,ATL,2,43,10,15,0.667,1,3,0.333,2,3,0.667,2,4,6,3,1,1,0,5,23,28,0.00,0.00,17.0
506,1628411,506,Wes Iwundu,1610612737,ATL,3,82,8,18,0.444,3,5,0.600,3,4,0.750,3,10,13,0,1,0,1,8,22,24,0.00,1.00,18.0
542,203524,540,Solomon Hill,1610612737,ATL,13,139,3,20,0.150,2,13,0.154,0,0,0.000,6,17,23,12,4,2,1,16,8,31,12.00,4.00,19.0
545,1630536,544,Sharife Cooper,1610612737,ATL,13,39,3,14,0.214,1,6,0.167,0,0,0.000,0,5,5,5,0,0,5,1,7,1,1.00,0.00,20.0
585,1627760,582,Cat Barber,1610612737,ATL,3,13,0,4,0.000,0,0,0.000,0,4,0.000,1,2,3,3,0,0,1,1,0,-3,3.00,0.00,21.0

In [ ]:
atl_df.loc[(atl_df['GP'] < 20) | (atl_df['PTSRANK'] > 10)]

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV,PTSRANK
343,1627789,344,Timothe Luwawu-Cabarrot,1610612737,ATL,52,685,74,186,0.398,44,122,0.361,35,41,0.854,17,65,82,40,18,6,20,76,227,235,2.00,0.90,11.0
387,203476,388,Gorgui Dieng,1610612737,ATL,44,371,53,112,0.473,29,68,0.426,19,26,0.731,32,89,121,34,11,13,20,52,154,247,1.70,0.55,12.0
428,1628995,429,Kevin Knox II,1610612737,ATL,30,222,31,85,0.365,15,54,0.278,16,22,0.727,14,30,44,10,4,2,7,19,93,86,1.43,0.57,13.0
440,1630219,440,Skylar Mays,1610612737,ATL,28,220,32,64,0.500,8,25,0.320,8,9,0.889,5,20,25,17,7,0,10,9,80,86,1.70,0.70,14.0
464,1630552,464,Jalen Johnson,1610612737,ATL,22,120,22,41,0.537,3,13,0.231,5,7,0.714,2,24,26,3,3,2,9,9,52,56,0.33,0.33,15.0
490,1630602,491,Chaundee Brown Jr.,1610612737,ATL,5,104,10,32,0.313,6,18,0.333,5,6,0.833,1,15,16,4,2,0,1,7,31,29,4.00,2.00,16.0
503,1628419,504,Cameron Oliver,1610612737,ATL,2,43,10,15,0.667,1,3,0.333,2,3,0.667,2,4,6,3,1,1,0,5,23,28,0.00,0.00,17.0
506,1628411,506,Wes Iwundu,1610612737,ATL,3,82,8,18,0.444,3,5,0.600,3,4,0.750,3,10,13,0,1,0,1,8,22,24,0.00,1.00,18.0
542,203524,540,Solomon Hill,1610612737,ATL,13,139,3,20,0.150,2,13,0.154,0,0,0.000,6,17,23,12,4,2,1,16,8,31,12.00,4.00,19.0
545,1630536,544,Sharife Cooper,1610612737,ATL,13,39,3,14,0.214,1,6,0.167,0,0,0.000,0,5,5,5,0,0,5,1,7,1,1.00,0.00,20.0
585,1627760,582,Cat Barber,1610612737,ATL,3,13,0,4,0.000,0,0,0.000,0,4,0.000,1,2,3,3,0,0,1,1,0,-3,3.00,0.00,21.0

In [ ]:
team_eff = data.groupby('TEAM')['EFF'].apply(lambda group: group.nlargest(2).sum())

team_eff = team_eff.reset_index()

team_eff.sort_values('EFF', ascending = False).head()

   TEAM   EFF
7   DEN  4111
22  PHI  4086
16  MIL  3761
4   CHI  3657
0   ATL  3636

In [ ]:
import json
response = endpoints.teamgamelogs.TeamGameLogs(season_nullable = '2021-22')
content = json.loads(response.get_json())
results = content['resultSets'][0]
headers = results['headers']
rows = results['rowSet']
record = pd.DataFrame(rows, columns = headers)
record.head()

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,2021-22,1610612758,SAC,Sacramento Kings,0022101229,2022-04-10T00:00:00,SAC @ PHX,W,48.0,40,76,0.526,14,26,0.538,22,30,0.733,2,38,40,26,15.0,9,7,7,18,25,116,7.0,1,1,1,1,117,1247,2367,308,686,2234,37,405,266,1644,2447,499,1766,830,1475,592,323,1930,724,172,768,783
1,2021-22,1610612757,POR,Portland Trail Blazers,0022101230,2022-04-10T00:00:00,POR vs. UTA,L,48.0,31,83,0.373,9,34,0.265,9,12,0.750,5,27,32,21,16.0,11,8,6,27,16,80,-31.0,1,1231,1231,1231,117,2360,1815,2349,1924,1289,2109,2239,2256,1458,2239,2210,2390,1782,1716,240,171,1637,2354,1918,2447,2399
2,2021-22,1610612737,ATL,Atlanta Hawks,0022101221,2022-04-10T00:00:00,ATL @ HOU,W,48.0,45,87,0.517,21,38,0.553,19,24,0.792,13,37,50,29,13.0,4,4,4,19,19,130,16.0,1,1,1,1,117,440,1278,417,36,741,25,793,824,1106,481,637,436,405,949,2166,1206,831,960,1229,160,318
3,2021-22,1610612766,CHA,Charlotte Hornets,0022101217,2022-04-10T00:00:00,CHA vs. WAS,W,48.0,48,89,0.539,18,33,0.545,10,14,0.714,11,37,48,34,20.0,6,9,3,20,16,124,16.0,1,1,1,1,117,170,1003,212,141,1454,30,2144,2118,1765,875,637,642,79,2294,1551,91,419,1233,1918,328,318
4,2021-22,1610612765,DET,Detroit Pistons,0022101228,2022-04-10T00:00:00,DET @ PHI,L,48.0,38,83,0.458,11,34,0.324,19,29,0.655,15,27,42,26,20.0,4,4,6,16,23,106,-12.0,1,1231,1231,1231,117,1603,1815,1270,1427,1289,1545,793,330,2164,236,2210,1479,830,2294,2166,1206,1637,376,413,1531,1912

In [ ]:
record = record.groupby(['TEAM_ABBREVIATION'])['WL'].value_counts()
record = pd.DataFrame(record).rename(columns = {'WL': 'w'})
record.head()

                       w
TEAM_ABBREVIATION WL
ATL               W   43
                  L   39
BKN               W   44
                  L   38
BOS               W   51

In [ ]:
record = pd.pivot_table(record, values = 'w', index = 'TEAM_ABBREVIATION', columns = 'WL')

WL                  L   W
TEAM_ABBREVIATION
ATL                39  43
BKN                38  44
BOS                31  51
CHA                39  43
CHI                36  46
CLE                38  44
DAL                30  52
DEN                34  48
DET                59  23
GSW                29  53
HOU                62  20
IND                57  25
LAC                40  42
LAL                49  33
MEM                26  56
MIA                29  53
MIL                31  51
MIN                36  46
NOP                46  36
NYK                45  37
OKC                58  24
ORL                60  22
PHI                31  51
PHX                18  64
POR                55  27
SAC                52  30
SAS                48  34
TOR                34  48
UTA                33  49
WAS                47  35

In [ ]:
team_eff = team_eff.merge(record, left_on = 'TEAM', right_on = 'TEAM_ABBREVIATION')
team_eff.head()

  TEAM   EFF   w
0  ATL  3636  43
1  ATL  3636  39
2  BKN  2894  44
3  BKN  2894  38
4  BOS  3357  51